@model Restaurant.Models.loginModel
@{
	ViewBag.Title = "Login";
}

<p class="control-label" style="font-size:36px;">登入</p>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		<div class="form-group">
			<p class="control-label col-md-2" style="display:inline">帳號</p>
			<div class="col-md-10">
				@Html.EditorFor(model => model.lm_username, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.lm_username, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<p class="control-label col-md-2" style="display:inline">密碼</p>
			<div class="col-md-10">
				@Html.EditorFor(model => model.lm_password, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.lm_password, "", new { @class = "text-danger" })
				<p class="text-danger" style="display:inline">@ViewBag.Message</p>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="登入" class="btn btn-default" />
			</div>
		</div>
	</div>
}

