<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>WOW Burger - @ViewBag.Title</title>
	<link href="~/Content/css/Site.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/css/footer.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/css/header.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/css/reset.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
	<script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="~/Restaurant/Menu"><img src="~/Content/images/logo.jpg"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					@if (string.IsNullOrWhiteSpace(HttpContext.Current.User.Identity.Name))
					{
						<li>@Html.ActionLink("菜單", "Menu", "Restaurant")</li>
						<li>@Html.ActionLink("登入", "Login", "User")</li>
						<li>@Html.ActionLink("註冊", "Create", "User")</li>
					}
					else
					{
						<li>@Html.ActionLink("菜單", "Menu", "Restaurant")</li>
						<li>@Html.ActionLink("歷史資料", "History", "User")</li>
						<li>@Html.ActionLink("修改個人資訊", "Modify", "User")</li>
						<li>@Html.ActionLink("修改密碼", "ModifyPassword", "User")</li>
						<li>@Html.ActionLink("登出", "Logout", "User")</li>
					}
				</ul>
			</div>
		</div>
	</div>

	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
		</footer>
	</div>

	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>